{% extends "base.html" %}

{% block content %}
<div class="span12">
    <h2>
        Yamaki<small>(コピペチェックツール)</small>
        <hr>
    </h2>
    <form action="{% url 'analysis_analyze' %}" method="post">
    {% csrf_token %}

    <div class="form-group">
        <label class="control-label" for="id_v1">文章</label>
        <div class=" ">
            <textarea cols="100" rows="5" id="v1" placeholder="ここに文章を入力" name="v1"></textarea><br />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label  " for="id_v2">検索ワード</label>
        <div class=" ">
            <input type="text" class=" form-control" id="v2" placeholder="検索ワードを入力" name="search_word">
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-12">
            <input onClick="sendData()" id="checkButton" class="btn btn-primary" type="button" value="チェック" />
        </div>
    </div>

    </form>


</div>
<section class="search_result span5">
    <hr>
    <div id="searchResults">
    </div>
</section>

{% endblock content %}
